body {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
	background-color: #CCCCCC;
	height: 300px;
}

.window {
	margin: 0 auto;
	padding: 0;
}
.box {
	margin-top: 150px;
}

.box h1{
	margin: auto;
	width: 800px;
	text-align: center;
	font-size: 48px;
	border-bottom: 1px solid white;
}
.box p {
	font-size: 24px;
	margin-left: 350px;
}
.box input {
	font-size: 20px;
}